:root {
    --white: #fffafa;
    --whitesmoke: #f5f5f5;
    --lightblack: #575656;
    --gray: #808080;
    --darkcharcoal: #333;
}

/*---------------------- table -----------------------css */
table {
    border-spacing: 1;
    border-collapse: collapse;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

table thead tr {
    height: 60px;
    background: var(--darkcharcoal);
}

.table-head th {
    font-size: 18px;
    color: var(--white);
    line-height: 1.2;
    font-weight: unset;
}

.bookings-column1 {
    width: 207px;
    padding-left: 30px;
    text-align: left;
}

.bookings-column2 {
    width: 139px;
    text-align: left;
}

.bookings-column3 {
    width: 206px;
    text-align: left;
}

.bookings-column4 {
    width: 150px;
    text-align: center;

}

.bookings-column5 {
    width: 148px;
    text-align: right;
}

.bookings-column6 {
    width: 183px;
    text-align: right;

}

.bookings-column7 {
    width: 205px;
    text-align: center;
}

.bookings-column8 {
    width: 191px;
    text-align: center;

}


table tbody tr {
    height: 50px;
}

tbody tr {
    font-size: 15px;
    color: var(--gray);
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: var(--whitesmoke)
}

tbody tr:nth-child(odd):hover {
    background-color: var(--whitesmoke);
}

table tbody tr:last-child {
    border: 0;
}

/*---------------------- Pagination -----------------------css */

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pagination a, button{
    color: #000;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.pagination a:hover, button:hover {
    background-color: #ccc;
}

.pagination a:disabled, button:disabled {
    background-color: #ccc;
    cursor: default;
}

.pagination .pagination-button {
    display: flex;
}




/*---------------------- All buttons -----------------------css */
.bookings-btn {
    cursor: pointer;
}

.bookings-btn:hover {
    opacity: 0.8;
}

.booked-btn {
    padding: 8px 15px;
    background-color: #ed1342;
    font-size: 15px;
    color: white;
    border: 0;
    font-weight: 400;
    cursor: default;
}

.pay-btn {
    padding: 8px 15px;
    background-color: #159eed;
    font-size: 15px;
    color: white;
    border: 0;
    font-weight: 400;
    cursor: pointer;
}

.history-btn {
    padding: 8px 15px;
    background-color: #ed9613;
    font-size: 15px;
    color: white;
    border: 0;
    font-weight: 400;
}


.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--darkcharcoal);
}


.actions button {
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    padding: 8px 15px;
    background-color: var(--white);
}

table td .actions button {
    background-color: transparent;
}

.fa-pen-to-square:hover,
.fa-eye:hover,
.fa-trash:hover {
    opacity: 0.7;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.close-button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    width: 100%;
    text-transform: uppercase;
}