:root {
    /* --primary: #0cacc4;
    --secondary: #103244;
    --alt: #1579c6; */
    --white: #fffafa;
    --lightblack: #575656;
    --darkcharcoal: #333;
    /* --grey: #6a6a6a;
    --dark4: #090a0f;
    --dark3: #1b2735; */
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


/********** Header ***********/
.header{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}

.logo-title{
    display: flex;
    align-items: center;

}

.logo{
    width: 50px;
    cursor: pointer;
    padding-bottom: 7px;
}

.logo-title h2{
    padding-left: 8px;
    font-size: 1.2em;
    color: var(--white);
}

.nav-links li{
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a{
    color: var(--white)
}


.container{
    padding: 0 7%;
}


.header h1{
    font-size: 3.5vw;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    padding-top: 16%;
}


.dropdown {
    overflow: hidden;
    color: var(--darkcharcoal);
    background: var(--white);
    border-radius: 20px;
  }
  
.dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    padding: 8px 20px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background: var(--white);
}

.fa-caret-down{
    padding-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    border-radius: 15px;
    font-size: 14px;
}

.dropdown-content a {
    float: none;
    color: var(--white);
    padding: 15px 46px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.dropdown-content a:hover {
    background-color: rgba(255,255,255,0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/********** Reservation Form Section ***********/

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    /* padding: 20px; */
}

form, input, select, label { 
    font-size: 1vw;
    color: var(--darkcharcoal);
    line-height: 22px;
}

legend {
    padding-left: 8px;    
    padding-right: 8px;
    margin-left: 10px;
    font-size: 1.5vw;
    color: var(--darkcharcoal);
}

fieldset{
    border-radius: 4px;
    padding: 10px;
    font-weight: 600;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px var(--lightblack); 
}

.columns {
    display:flex;
    justify-content: center;
    align-items: center;
}


.columns div {
    width: 100%;
    margin-left: 10px;
}

.item {
    position: relative;
    margin: 10px 0;
}

input, select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
}

::placeholder {

    font-size: 0.9vw;

}

select{
    width: 82%;
    padding: 8px;
    margin-top: 5px;
}


.item:hover p, .item:hover i, input:hover::placeholder {
    color:  #006622;
}


.item input:hover, .item select:hover{
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #006622;
    color: #006622;
}

input[type="date"] {
    padding: 8px;
    width: 82%;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}


.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: var(--lightblack)c;
}

[type="date"]::-webkit-calendar-picker-indicator {
    right: 19%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.item i {
    right: 19%;
    top: 40px;
    z-index: 1;
}

.results{
    line-height: 2;
    margin-left: 10px;
}


/* .form-control:focus {
    color: #475F7B;
    background-color: #FFF;
    border-color: #5A8DEE;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
} */



/********** roomtype Section ***********/

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.8vw;
    font-weight: 700;
    color: var(--darkcharcoal);
    text-align: center;
    line-height: 1.35;
}

.sub-description{
    margin: 10px 0 30px;
    font-size: 1vw;
    font-weight: 400;
    color: var(--darkcharcoal);
    text-align: center;
}

.roomtype{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.roomtype div img{
    width: 100%;
    border-radius: 10px;
    filter: grayscale(20%);
    opacity: 0.9;
}

.roomtype div{
    position: relative;
}

.roomtype div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--white);
}

