:root {
    --white: #fffafa;
    --lightblack: #575656;
    --darkcharcoal: #333;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.header-login .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.header-login {
    width: 100%;
}

.auth-nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 7%;
}


.auth-nav .dropdown {
    overflow: hidden;
    color: var(--darkcharcoal);
    background: var(--white);
    border-radius: 20px;
}

.auth-nav .dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 8px 20px;
    background-color: inherit;
    margin: 0;
}

.auth-nav .dropdown:hover .dropbtn {
    background: var(--white);
}

.auth-nav .fa-caret-down {
    padding-left: 5px;
}

.auth-nav .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 15px;
    font-size: 14px;
    left: 84%;
}

.auth-nav .dropdown-content a {
    float: none;
    color: var(--white);
    padding: 15px 46px;
    border-radius: 15px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.auth-nav .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.auth-nav .dropdown:hover .dropdown-content {
    display: block;
}


.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* width: 100%;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; */
   
}

.login-page .form-box{
    position: relative;
    width: 550px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

.login-page h2{
    font-size: 2.2em;
    color: var(--lightblack);
    text-align: center;
}

.login-page .input-email{
    position: relative;
    margin: 10px 0px 0px 0px;
    width: 310px;
    border-bottom: 2px solid var(--lightblack);
}

.login-page .input-password{
    position: relative;
    margin: 30px 0 0 0;
    width: 310px;
    border-bottom: 2px solid var(--lightblack);
}

.login-page .input-box ::placeholder{

    color: var(--lightblack);
    font-size: 1.1em;

}


.login-page .input-box input{
    width: 85%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: var(--lightblack);
}

.login-page .input-box ion-icon{
    position: absolute;
    right: 8px;
    color: var(--lightblack);
    font-size: 1.5em;
    top:  20px;
}

.login-page .button{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    background: var(--white);
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 600;
}

.login-page .logo-title{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-page .logo{
    width: 80px;
    height: 80px;
}

.login-page .btn{
    font-size: 1.2em;
    display: inline-flex;
    justify-content: center;
    font-weight: 600;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: var(--white);
    color: var(--lightblack);
    border-radius: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 30px;
    transition: all 0.3s;
}

.login-page .btn:hover{
    font-size: 1.3em;
    background: var(--lightblack);
    color: white;
}

.login-page .error-email-password{
    position: relative;
    margin: 0px 0;
    width: 310px;
}

.login-page .error-message{
    font-size: 11px;
    color: red;
}