:root {
    /* --primary: #0cacc4;
    --secondary: #103244;
    --alt: #1579c6; */
    --white: #fffafa;
    --lightblack: #575656;
    /* --grey: #6a6a6a;
    --dark4: #090a0f;
    --dark3: #1b2735; */
}

.topNav{
    position: fixed;
    width:100%;
    background-color: #575656;
    display: flex;
}

.topNav .logo{
    display: flex;
    align-items: center;
}

.topNav .logo img{
    height: 50px;
    width: 50px;
    margin: 20px;
    margin-left: 25px;
}

.topNav .logo .logo_name{
    font-size: 20px;
    font-weight: 600;
}

.topNav .profile{
    margin:25px;
    right: 10px;
    position:fixed;
    display: inline-block;
}

.topNav .profile button{
    width:40px;
    height: 40px;
    font-size: 25px;
    border-width: 1px;
    border-style: solid;
}

.topNav .profile .dropdown-content{
    display: none;
    background-color: aqua;
    position: absolute;
    right: 0;
    min-width: 110px;
    text-align: right;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.topNav .profile .dropdown-content a{
    font-size: large;
    margin:20px;
    color: black;
}

.topNav .profile:hover .dropdown-content {
    display: block;
}
